import React, { PropTypes } from 'react';

const <%= helpers.capitalize(name) %> = (props) => (
  <div>
  </div>

);


<%= helpers.capitalize(name) %>.propTypes = {
};

export default <%= helpers.capitalize(name) %>;
